.About{
    width: 100%;
    height: 460px;
    border: 1px solid red;
    background-image: url(https://img.freepik.com/premium-photo/book-with-light-bulb-network_220873-7927.jpg?w=1380);
    background-size: cover;
}
.About_header{
    text-align: center;
    width: 100%;
}
.About_header_h1{
    color: rgb(255, 255, 255);
    margin-top: 25vh;
    font-size: 38px;
}
