.container_cont_div1{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    width: 100%;
    flex-wrap: wrap;
}
.container_cont_ul1{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    width: 90%;
    height: 400px;
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    flex-wrap: wrap;
    list-style: none;
}
.container_cont_ul_li1{
    width: 230px;
    height: 310px;
    margin: 3vh 2vh 3vh 2vh;
    border-radius: 19px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    cursor: pointer;
}
.container_cont_ul_li1:hover{
    box-shadow: 10px 10px 54px rgba(28, 26, 26, 0.1); 
}
.container_cont_ul_li1:hover>.container_cont_name1{
    color: #088178;
}
.container_cont_ul_li_pi1{
    width: 210px;
    height: 200px;
    margin: 6px 0px 0px 10px;
    border-radius: 19px;
    background-color: rgba(239, 239, 239, 0.722);
}
.container_cont_ul_img{
    width: 100%;
    height: 100%;
}
.container_cont_firma1{
    margin: 2vh 1vh 0vh 3vh;
    color: gray;
    font-size: 13px;
}
.container_cont_name1{
    margin: 0vh 1vh 0vh 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
.container_cont_money1{
    margin: 0vh 1vh 0vh 3vh;
    color: #088178;
}
.container_cont_icon1{
    margin: 3px 1vh 0vh 3vh;
    font-size: 13px;
}
.container_cont_icon_card1{
    position: absolute;
    width: 30px;
    height: 30px;
    background: #bcebdaa2;
    border-radius: 50%;
    padding: 7px 7px 7px 7px;
    cursor: pointer;
    margin-left: 10vh;
    color:#088178;
    margin-top: -1vh;
}
.container_cont_icon_card1:hover{
    background-color: #088178;
    color: white;
}


.container_button_click{
    width: 100%;
    border: 1px solid red;
}
.container_button_click_div{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid red;
}
.cont_buttoner{
    width: 40px;
    height: 40px;
    margin: 25px 3px 25px 3px;
    border: none;
    background: #088178;
    border-radius: 4px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.container_end{
    display: flex;
    justify-content: center;
    background-image: url(https://img.freepik.com/free-vector/abstract-technological-background_23-2148897676.jpg?w=1060&t=st=1664017702~exp=1664018302~hmac=fb09c31a15324d51b186eb638e6637cf949523ceebd8086b007fc30d0915dd2c);
    flex-wrap: wrap;
}
.container_end_div{
    margin: 5vh 1vh 5vh 1vh;
    width: 700px;
    height: 80px;
}
.container_end_div_h2{
    font-size: 23px;
    color: white;
}
.container_end_div_pi{
    font-size: 15px;
    color: rgb(156, 156, 152);
    margin: 1vh 0vh 0vh 0vh;
}
.container_end_div_input{
   width: 300px;
   height: 40px;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   margin-top: 2vh;
   padding-left: 2vh;
}
.container_end_div_button{
    width: 80px;
    height: 39px;
    color: white;
    cursor: pointer;
    background-color: #088178;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}